/* css/style.css */

/* .done クラスに打ち消し線を追加 */
.done {
  text-decoration: line-through;
}

/* StyledTableHeader クラスのスタイル */
th {
  border-bottom: 2px solid #ccc;
  background-color: #f5f5f5;
  padding: 8px;
  text-align: left;
}

/* ボタンのスタイル */
button {
  margin: 5px;
  padding: 8px 12px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}
.button-row {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* ボタン間の余白 */
  /* align-items: center; */
  margin-bottom: 1rem;
}

/*  */
.filter-area {
  margin-bottom: 4px;
}

/*  */
.input-area {
  display: flex;
  align-items: center;
  gap: 8px;
}

#bulk-delete-btn {
  height: 100%; /* 高さを揃える */
}

button:hover {
  background: #0056b3;
}
